// .eslintrc 파일
{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "parserOptions" : {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error",
      "tab",
      {
        "SwitchCase": 1,
        "MemberExpression": 1
      }
    ],
    "padded-blocks": ["error", "never"],
    "no-tabs": "off",
    "react/jsx-indent": ["error",
      "tab"
    ],
    "react/jsx-indent-props": ["error", "tab"],
    "quotes": ["error", "double", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "jsx-closing-bracket-location" : [1, {"selfClosing": "props-aligned", "nonEmpty": "after-props"}],
    "react/forbid-prop-types": ["error", { "forbid": [] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "comma-dangle" : ["error", {
      "functions": "ignore"
    }]
  }
}