html, body {
    background-color: rgb(238, 238, 238);
    width : 100%;
    height : 100%;
}
textarea {
    width: 100%;
    height: 200px;
}
.type {
    color: #009688;
}
.err {
    background: #ffd9d9;
}

#app, #wrapper{
    width : 100%;
    height : 100%;
}

.chart, .textConfigure, .inputConfigure {
    width : 50%;
    margin : 0;
}

.scroll {
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0;
    left : 60%;
    overflow-y: scroll;
}

.property.updated {
    color : red;
}

.property.deactivated {
    opacity: 0.5;
}