/**  app.scss **/
html {
    padding : 10px;
}

#app {
    border: 1px solid #d7d7d7;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

#wrapper {
    height: 100%;
}

.ReactCodeMirror {
    width: 100%;
    height: 200px;
}
.type {
    color: #009688;
}
.err {
    background: #ffd9d9;
}

.chart, .textConfigure{
    width : 60%;
    margin : 0;
    left : 0;
}

.chart, .textConfigure {
    height : 50%;
}

.inputConfigure {
    width : 40%;
    left : 60%;
    position : absolute;
    height : 100%;
    top : 0;
    border-left: 1px solid #d7d7d7;
    box-sizing: border-box;
}
.scroll {
    width : 100%;
    height : 100%;
    overflow-y: scroll;
}

.property_content {
    display : inline-block;
}

.property.updated {
    color : red;
}

.property.deactivated {
    opacity: 0.5;
}

.activate_check {
    //opacity:0;
}

.property.deactivated .activate_check{
    opacity: 0;
}

.property:hover .activate_check{
    opacity:1;
}

.react-toolbox_checkbox {
    display: inline-block;
}

.property_name {
    color : #424242;
    font-weight : 500;
}

.member svg {
    color : #FAFAFA !important;
}

.number_guide {
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    text-align : center;

}

.codepen-export input[type="submit"] {
    border : none;
    width: 60px;
    height : 40px;
    background: none;
}
.codepen-export .button {
    background-size: contain !important;
    border : none ;
    width: 60px  !important;
    height : 40px  !important;
    background-image : url(codepen-export.svg) !important;
}
/**  app.css **/